
.End {
  font-family: sans-serif;
  text-align: center;
}
.Epp {
  font-size: 30pt;

  padding: 5pt;
  position: absolute;
  right: 100px;
  bottom: 100px;
}
.Clr {
  font-size: 50pt;
  color: yellowgreen;
  margin: 90px;
}