.App {
  text-align: center;
  margin: 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 未使用 */
/* ログイン画面の「Minesweeper」ロゴ */
.loginTitle {
  margin-top: 50px;
  font-family: "Starjedi";
  color: #FFFAE1;
  font-weight: 800;
  display        : inline-block;
  color          : #000000;            /* 文字の色 */
  font-size      : 36pt;               /* 文字のサイズ */
  letter-spacing : 4px;                /* 文字間 */
  text-shadow    : 
       2px  2px 1px rgba(255, 255, 26, 0.86),
      -2px  2px 1px rgba(255, 255, 26, 0.86),
       2px -2px 1px rgba(255, 255, 26, 0.86),
      -2px -2px 1px rgba(255, 255, 26, 0.86),
       2px  0px 1px rgba(255, 255, 26, 0.86),
       0px  2px 1px rgba(255, 255, 26, 0.86),
      -2px  0px 1px rgba(255, 255, 26, 0.86),
       0px -2px 1px rgba(255, 255, 26, 0.86);        /* 文字の影 */
}

.board{
  min-width: 500px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.Auth_input{
  width:250px;
  height: 30px;
  margin: 12% 5% 0;
}

.Auth_button{
  width:100px;
  height: 30px;
  margin: 5% 0 0 40%;
}

.menuBar {
  position: relative;
  min-width: 900px;
  margin-top: -7%;
  margin-bottom: 4%;
}

.restartButton {
  position: relative;
  background-image: url(../images/restartButton.png);
  background-size: 100%;
  Border-radius: 50%;
  width: 80px;
  height: 80px;
}

.optionButton{
  position: relative;
  background-image: url(../images/optionButton.png);
  background-size: 100%;
  Border-radius: 50%;
  width: 80px;
  height: 80px;
  margin:15px;
}

.optionScreen{
    height: 80%;
    width: 70%;
    position: absolute;
    background: #000000;
    z-index: 5;
    margin-top: -200px;
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
    left: 0;
    right: 0;
    min-width: 500px;
}

@media screen and (max-width: 1250px){
  .optionScreen{
    width:100%;
  }
}

.rankingButton{
  position: relative;
  background-image: url(../images/rankingButton.png);
  background-size: 100%;
  Border-radius: 50%;
  width: 80px;
  height: 80px;
}

.rankingScreen{

}

.cellStyle {
    width: 42px;
    height: 42px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 35px;
    font-weight: 800;
    border-radius:8px;
    border-collapse: collapse;
    background-image: url(../images/cell.jpg);
    background-size: 100%;
    margin: 1px;
}

.cellReveal {
    width: 42px;
    height: 42px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 35px;
    font-weight: 800;
    border-radius:8px;
    border-collapse: collapse;
    background-size: 100%;
    margin: 1px;
}

.textGameOver {
  min-width: 550px;
  position: relative;
  margin: 126px auto 0;
  font-family: "Starjedi";
  color: #FFFAE1;
  font-weight: 800;
  display        : inline-block;
  color          : #000000;            /* 文字の色 */
  font-size      : 60pt;               /* 文字のサイズ */
  letter-spacing : 4px;                /* 文字間 */
  text-shadow    : 
       2px  2px 1px rgba(255, 255, 255, 0.86),
      -2px  2px 1px rgba(255, 255, 255, 0.86),
       2px -2px 1px rgba(255, 255, 255, 0.86),
      -2px -2px 1px rgba(255, 255, 255, 0.86),
       2px  0px 1px rgba(255, 255, 255, 0.86),
       0px  2px 1px rgba(255, 255, 255, 0.86),
      -2px  0px 1px rgba(255, 255, 255, 0.86),
       0px -2px 1px rgba(255, 255, 255, 0.86);        /* 文字の影 */
}


.textClear{
  min-width: 700px;
  position: relative;
  margin: 126px auto 0;
  font-family: "Starjedi";
  color: #FFFAE1;
  font-weight: 800;
  display        : inline-block;
  color          : #000000;            /* 文字の色 */
  font-size      : 60pt;               /* 文字のサイズ */
  letter-spacing : 4px;                /* 文字間 */
  text-shadow    : 
       2px  2px 1px rgba(255, 255, 255, 0.86),
      -2px  2px 1px rgba(255, 255, 255, 0.86),
       2px -2px 1px rgba(255, 255, 255, 0.86),
      -2px -2px 1px rgba(255, 255, 255, 0.86),
       2px  0px 1px rgba(255, 255, 255, 0.86),
       0px  2px 1px rgba(255, 255, 255, 0.86),
      -2px  0px 1px rgba(255, 255, 255, 0.86),
       0px -2px 1px rgba(255, 255, 255, 0.86);        /* 文字の影 */
}


.tryAgain {
  position: relative;
  cursor: pointer;
  margin: 2% auto 0;
  width: 150px;
  height: 30px;
  border-radius: 7px;
  background: rgb(111, 199, 221);
  color: rgb(22, 24, 22);
  text-shadow    : 
       1px 1px 1px rgba(255, 255, 255, 0.86),
      -1px  1px 1px rgba(255, 255, 255, 0.86),
       1px -1px 1px rgba(255, 255, 255, 0.86),
      -1px -1px 1px rgba(255, 255, 255, 0.86),
       1px  0px 1px rgba(255, 255, 255, 0.86),
       0px  1px 1px rgba(255, 255, 255, 0.86),
      -1px  0px 1px rgba(255, 255, 255, 0.86),
       0px -1px 1px rgba(255, 255, 255, 0.86);        /* 文字の影 */
  padding: 10px;
  font-size: 22px;
  font-weight: 700;
  box-shadow: 3px 3px 5px gray;
}

